/* Place every design here */
body {
	background-color: white;
	margin: 0;
	padding: 0;

	/* Make text unselectable */
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
}

#reader {
	width: 80%;
	margin: auto;
}

#toolbar {
	background-color: #0773bb;
	height: 55px;
	padding: 0 5px 0 5px;
}

#toolbar .left {
	color: white !important;
	font-size: x-large;
	font-family: kollektif;
}

#toolbar #toolbar-title {
	/* Aligns title with the burger icon to the left */
	position: relative;
	top: 2px;
}

.sidebyside {
	display: flex;
	justify-content: left;
	column-gap: 8px;  /* Make sure items laid side by side do not overlap */
}

#student-information {
	margin: 0 20px 0 20px;
	text-align: left;
}

#student-information .title {
	font-family: kollektif;
}

#student-information p {
	font-style: bold;
	font-family: barlowlight;
}



/* Custom fonts */
@font-face {
	font-family: barlowlight;
	src: url(./assets/Barlow-Light.ttf);
}

@font-face {
	font-family: kollektif;
	src: url(./assets/Kollektif.ttf);
}