/* Place every design here */
body {
	background-color: white;
	color: #333333;
	margin: 0;
	padding: 0;

	font-family: kollektif;
}

#reader {
	width: 90%;
	margin: auto;
}

#toolbar {
	background-color: #0773bb;
	height: 55px;
	color: white;
	padding: 5px;

	font-family: kollektif;
	font-size: x-large;
}

#toolbar #toolbar-title {
	/* Aligns title with the burger icon to the left */
	position: relative;
	top: 2px;
}

.sidebyside {
	display: flex;
	justify-content: left;
	column-gap: 8px;  /* Make sure items laid side by side do not overlap */
}

#student-information {
	margin: 0 20px 0 20px;
	text-align: left;
}

#student-information p {
	font-style: bold;
}

/* Custom fonts */
@font-face {
	font-family: barlowlight;
	src: url(assets/Barlow-Light.ttf);
}

@font-face {
	font-family: kollektif;
	src: url(assets/Kollektif.ttf);
}